<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269134904647-7ckko9no8ilaobo72h6q5s5jl8p8gc4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269134904647-7ckko9no8ilaobo72h6q5s5jl8p8gc4c</string>
	<key>API_KEY</key>
	<string>AIzaSyAWhfGsUaYn1Bww3xXzvfYbW_EQpC01jCc</string>
	<key>GCM_SENDER_ID</key>
	<string>269134904647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.ryosuke.aoki.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-726d9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-726d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269134904647:ios:93b5395a350f1c0fc4a062</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-726d9.firebaseio.com</string>
</dict>
</plist>